.booking{
  background-color: #466880;
}

.booking__container {
  width: 65%;
  margin: 0 auto;
}

.screen {
  border-bottom: 50px solid #f4a34a;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100px;
  width: 100%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fdfdfe;
  text-align: center;
}

.bill {
  border-top: 1px solid #fdfdfe;
}
